# Rust compiled files
target/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*.pypirc

# PyPI files
build/
dist/

# IDEs and editors
.vscode/
*.code-workspace

.toolchain/
.verification/
